venv/
__pycache__/

ML/dataset/

# Ignore all data files except sample_transcript.txt
data/*
!data/sample_transcript.txt

ML/evaluation/test_predictions_nfr.csv
ML/evaluation/test_predictions.csv

uploads/
chunks/
storage/

app/.env
